/** todos los estilos generales**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62,5%;
}



h1 {
    color: #E79A33;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    font-size: 4.0rem;
}
p {
    color: #E5DCCA;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 1.6;
}
/**
h2 {
    color: #603F34;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    line-height: 1.6;
}

h3 {
    color: #603F34;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    line-height: 1.6;
}

h4 {
    color: #603F34;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    line-height: 1.6;
}

h5 {
    color: #603F34;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    line-height: 1.6;
}

h6 {
    color: #603F34;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    line-height: 1.6;
}

p {
    color: #603F34;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    line-height: 1.6;
}


label {
    color: #603F34;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

input {
    color: #603F34;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

/** HEADER STYLE**/

.container-grid {
    background-color: aquamarine;
}

header {
    display: grid;
    background-image: url(../assets/image/aji.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "box-0 box-0 box-0 box-0 box-0"
    ". . . . ."
    ". . . box-4 box-4"
    ". . . box-4 box-4"
    ". . . . ."
    ;
}

nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    backdrop-filter: blur(4px);
    height: 100px;
}

nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 6.0rem;
    padding: 2.0rem;
}

nav li a:hover {
    color: #E79A33;
}

.navBar li a {
    text-decoration: none;
    color: #E5DCCA;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: larger;
}

.logo{
    width: 2.5rem;
    margin: 1.5rem;
}

.usuario {
    width: 4.0rem;
    margin: 1.5rem;
}

.box-0 {
    grid-area: box-0;
    display: flex;
}

.box-4 {
    grid-area: box-4;
    color: #E79A33;
}



/** MAIN STYLE**/

main {
    grid-area: main;
    border: 2px solid black;
}



/** FOOTER STYLE**/

footer {
    grid-area: footer;
    border: 2px solid black;
    background-color: blue;
}

/** APLICANDO GRIDS **/






/**
.siteMain {
    background-color: #E5DCCA;
    padding: 50px;
}

.siteMainOthers {
    padding: 100px;
    background-color: #E5DCCA;
}


.sectionStyle {
    display: flex;
    padding: 25px;
    text-align: left;
    line-height: 3;
}

.sectionStyle p {
    margin: auto;
}

.sectionStyle img {
    padding: 25px;
    width: 500px;
}

.sectionStyle a {
    text-decoration: none;
    padding: 25px;
    background-color: #603F34;
    border: 2px solid #603F34;
    padding: 5px;
    color: #E79A33;
}

.sectionStyle form {
    width: 600px;
}

.sectionStyle form fieldset {
    padding: 50px;
}

.sectionStyle form label {
    display: block;
}

.enviar {
    text-decoration: none;
    padding: 5px;
    background-color: #603F34;
    border: 2px solid #603F34;
    padding: 5px;
    color: #E79A33;
    font-weight: bold;
}

/** todos los estilos del footer**/
/**

.footerStyle {
    background-color: #696E6C;
    padding: 25px;
}

.footerStyle h3 {
    text-decoration: none;
    color: #E5DCCA;
    text-align: center;
}

.footerStyle h5 {
    color: #E5DCCA;
    text-align: center;
}

.footerStyle h6 {
    color: #E5DCCA;
    text-align: center;
}

.footerStyle a {
    text-decoration: none;
    display: block;
    color: #E5DCCA;
    font-weight: bold;
    text-align: center;
}

.footerStyle img {
    width: 40px;
}

.footerSocial {
    width: 100px;
    display: flex;
}
