* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

h1 {
  color: #E79A33;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  font-size: 3.2rem; }

h2 {
  color: #E79A33;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  line-height: 1.6;
  font-size: 2.8rem; }

h3 {
  color: #E79A33;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  font-size: 2.4rem; }

h4 {
  color: #603F34;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  line-height: 1.6;
  font-size: 2.0rem; }

h5 {
  color: #603F34;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  line-height: 1.6;
  font-size: 1.8rem; }

h6 {
  color: #603F34;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  line-height: 1.6;
  font-size: 1.6rem; }

p {
  margin-top: 1.6rem;
  margin-right: 2rem;
  color: #E5DCCA;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 1.6;
  font-size: 1.6rem; }

a {
  text-decoration: none; }

header {
  background-color: #E5DCCA; }
  header a {
    font-size: 2.0rem; }

/* header {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: #E5DCCA;
    ul{
        display: flex;
        gap: 6.0rem;
        padding: 2.0rem;
    }
    a{
        color: #603F34;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        font-size: 2.0rem;
    }
    a.active, a:hover {
        color: #E79A33;
        transition: .5s;
    }
    .logo {
        width: 4.5rem;
        margin: 1.5rem;
    }
    .usuario {
        width: 4.0rem;
        margin: 1.5rem;
    }
}
*/
.conatiner-background {
  display: grid;
  background-image: url(../assets/image/aji.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: ". ." ". box-4" ". ."; }
  .conatiner-background .box-4 {
    grid-area: box-4;
    color: #E79A33;
    padding-right: 8.0rem; }

.container-left {
  background-color: #E79A33;
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "box-5 box-7 box-7" "box-5 box-7 box-7" "box-6 . .";
  padding: 5.0rem; }
  .container-left .box-5 {
    grid-area: box-5; }
    .container-left .box-5 h2 {
      color: #603F34; }
  .container-left .box-6 {
    grid-area: box-6;
    padding-left: 4.0rem; }
    .container-left .box-6 a {
      background-color: #603F34;
      color: #E79A33;
      font-weight: bold;
      font-size: 1.6rem;
      border-radius: 5.0rem;
      padding: 1.0rem; }
  .container-left .box-7 {
    grid-area: box-7; }
    .container-left .box-7 img {
      border-radius: 5.0rem; }

.container-right {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "box-8 box-8 box-8 . ." "box-8 box-8 box-8 box-9 box-9" "box-8 box-8 box-8 box-10 box-10";
  padding: 5.0rem; }
  .container-right .box-8 {
    grid-area: box-8; }
    .container-right .box-8 img {
      border-radius: 5.0rem; }
  .container-right .box-9 {
    grid-area: box-9; }
    .container-right .box-9 p {
      color: #603F34; }
  .container-right .box-10 {
    grid-area: box-10;
    padding-left: 4.0rem; }
    .container-right .box-10 a {
      background-color: #E79A33;
      color: #603F34;
      font-weight: bold;
      font-size: 1.6rem;
      border-radius: 5.0rem;
      padding: 1.0rem; }

.container-contact {
  background-color: #E79A33;
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "box-11 box-12 box-12" "box-11 box-12 box-12" "box-11 box-12 box-12";
  padding: 5.0rem; }
  .container-contact .box-11 {
    grid-area: box-11; }
    .container-contact .box-11 h2 {
      color: #603F34; }
  .container-contact .box-12 {
    grid-area: box-12; }
    .container-contact .box-12 select {
      display: flex;
      margin-top: 2.0rem;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 400;
      color: #603F34;
      font-size: 1.6rem; }
  .container-contact fieldset {
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-content: center;
    margin-right: 2.0rem;
    border-radius: 5.0rem;
    border: solid #603F34; }
  .container-contact label {
    display: flex;
    margin-top: 2.0rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #603F34;
    font-size: 1.6rem; }
  .container-contact input {
    display: flex;
    margin: 10px;
    padding: 10px;
    color: #603F34;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    border: #603F34 solid;
    border-radius: 5.0rem;
    font-size: 1.2rem; }
  .container-contact .enviar {
    text-decoration: none;
    background-color: #603F34;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1.0rem;
    color: #E79A33;
    font-weight: bold;
    font-size: 1.6rem; }
  .container-contact .box-13 {
    grid-area: box-13;
    display: flex;
    flex-direction: column; }
  .container-contact .box-14 {
    grid-area: box-14;
    display: flex;
    flex-direction: column;
    height: 50%; }
  .container-contact .box-15 {
    grid-area: box-15;
    display: flex;
    flex-direction: column; }
  .container-contact .box-16 {
    grid-area: box-16;
    display: flex;
    flex-direction: column; }
  .container-contact .box-17 {
    grid-area: box-17;
    display: flex;
    height: 50%; }

.container-menu {
  margin: 2.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 8.0rem auto 20.0rem;
  grid-template-areas: "box-19 box-19 ." "box-20 box-20 ." "box-21 box-21 .";
  border: solid #603F34;
  border-radius: 5.0rem;
  padding-left: 3.0rem; }
  .container-menu .box-19 {
    grid-area: box-19;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .container-menu .box-20 {
    grid-area: box-20;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .container-menu .box-20 img {
      display: flex;
      border-radius: 5.0rem;
      border: solid #603F34; }
  .container-menu .box-21 {
    grid-area: box-21;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .container-menu .box-21 p {
      color: #603F34;
      margin-top: 0; }

.container-contact {
  background-color: #E79A33;
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "box-11 box-11 box-12 box-12 box-12" "box-11 box-11 box-12 box-12 box-12" "box-11 box-11 box-12 box-12 box-12" "box-11 box-11 box-12 box-12 box-12";
  gap: 10px;
  padding: 5.0rem; }
  .container-contact .box-11 {
    grid-area: box-11;
    display: flex;
    flex-direction: column;
    padding-left: 4.0rem;
    justify-content: center; }
    .container-contact .box-11 h1 {
      color: #603F34; }
  .container-contact .box-12 {
    grid-area: box-12; }
    .container-contact .box-12 select {
      display: flex;
      margin-top: 2.0rem;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 400;
      color: #603F34;
      font-size: 1.6rem; }
  .container-contact fieldset {
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-content: center;
    margin-right: 2.0rem;
    border-radius: 5.0rem;
    border: solid #603F34; }
    .container-contact fieldset label {
      display: flex;
      margin-top: 2.0rem;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 400;
      color: #603F34;
      font-size: 1.6rem; }
    .container-contact fieldset input {
      display: flex;
      margin: 10px;
      padding: 10px;
      color: #603F34;
      font-family: 'Lato', sans-serif;
      font-weight: 100;
      border: #603F34 solid;
      border-radius: 5.0rem;
      font-size: 1.2rem; }
  .container-contact .enviar {
    text-decoration: none;
    background-color: #603F34;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1.0rem;
    color: #E79A33;
    font-weight: bold;
    font-size: 1.6rem; }
  .container-contact .box-13 {
    grid-area: box-13;
    display: flex;
    flex-direction: column; }

.container-left {
  background-color: #E79A33;
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: ". . . . ." "box-5 box-5 box-7 box-7 box-7" "box-5 box-5 box-7 box-7 box-7" "box-6 . box-7 box-7 box-7" ". . . . .";
  gap: 2.0rem; }
  .container-left .box-5 {
    grid-area: box-5;
    display: flex;
    flex-direction: column;
    padding-left: 4.0rem;
    justify-content: center; }
    .container-left .box-5 h1 {
      color: #603F34; }
  .container-left .box-7 {
    grid-area: box-7;
    display: flex; }
    .container-left .box-7 img {
      border-radius: 5.0rem; }

.container-right {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: ". . . . ." "box-8 box-8 box-8 . ." "box-8 box-8 box-8 box-9 box-9" "box-8 box-8 box-8 box-10 box-10" ". . . . .";
  gap: 2.0rem; }
  .container-right .box-8 {
    grid-area: box-8;
    display: flex;
    justify-content: space-around; }
    .container-right .box-8 img {
      border-radius: 5.0rem; }
  .container-right .box-9 {
    grid-area: box-9;
    display: flex;
    flex-direction: column;
    padding-left: 4.0rem;
    justify-content: center; }
    .container-right .box-9 p {
      color: #603F34; }

.container-contact {
  background-color: #E79A33;
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "box-11 box-11 box-12 box-12 box-12" "box-11 box-11 box-12 box-12 box-12" "box-11 box-11 box-12 box-12 box-12" "box-11 box-11 box-12 box-12 box-12";
  gap: 10px;
  padding: 5.0rem; }
  .container-contact .box-11 {
    grid-area: box-11;
    display: flex;
    flex-direction: column;
    padding-left: 4.0rem;
    justify-content: center; }
    .container-contact .box-11 h1 {
      color: #603F34; }
  .container-contact .box-12 {
    grid-area: box-12; }
    .container-contact .box-12 select {
      display: flex;
      margin-top: 2.0rem;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 400;
      color: #603F34;
      font-size: 1.6rem; }
  .container-contact fieldset {
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-content: center;
    margin-right: 2.0rem;
    border-radius: 5.0rem;
    border: solid #603F34; }
    .container-contact fieldset label {
      display: flex;
      margin-top: 2.0rem;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 400;
      color: #603F34;
      font-size: 1.6rem; }
    .container-contact fieldset input {
      display: flex;
      margin: 10px;
      padding: 10px;
      color: #603F34;
      font-family: 'Lato', sans-serif;
      font-weight: 100;
      border: #603F34 solid;
      border-radius: 5.0rem;
      font-size: 1.2rem; }
  .container-contact .enviar {
    text-decoration: none;
    background-color: #603F34;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1.0rem;
    color: #E79A33;
    font-weight: bold;
    font-size: 1.6rem; }
  .container-contact .box-13 {
    grid-area: box-13;
    display: flex;
    flex-direction: column; }
  .container-contact .box-14 {
    grid-area: box-14;
    display: flex;
    flex-direction: column;
    height: 50%; }
  .container-contact .box-15 {
    grid-area: box-15;
    display: flex;
    flex-direction: column; }
  .container-contact .box-16 {
    grid-area: box-16;
    display: flex;
    flex-direction: column; }
  .container-contact .box-17 {
    grid-area: box-17;
    display: flex;
    height: 50%; }

footer {
  background-color: #f5f0f0; }
  footer .container-footer {
    background-color: #f5f0f0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 15.0rem auto 5.0rem;
    grid-template-areas: ". info info info ." ". rrss rrss rrss ." ". copyright copyright copyright .";
    margin-top: 2.5rem;
    margin-right: 2.5rem;
    margin-left: 2.5rem; }
    footer .container-footer a {
      text-decoration: none;
      color: #603F34;
      font-weight: bold;
      font-size: 1.6rem; }
  footer .info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; }
  footer .rrss {
    grid-area: rrss;
    display: flex;
    justify-content: center;
    gap: 1.0rem;
    align-items: flex-end; }
  footer .copyright {
    grid-area: copyright;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }

@media (max-width: 768px) {
  .container-left {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "box-5" "box-7" "box-6";
    padding: 2.0rem; }
    .container-left .box-7 {
      display: flex;
      justify-content: center; }
    .container-left img {
      width: 90%; }
  .container-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "box-9" "box-8" "box-10";
    padding: 2.0rem; }
    .container-right .box-10 {
      margin-left: 2.0rem; }
    .container-right img {
      width: 90%; }
  .container-contact {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "box-11" "box-12";
    margin-left: 0; }
    .container-contact .box-11 {
      display: flex;
      justify-content: center; }
  .container-menu {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 6.0rem 25.0rem 15.0rem;
    grid-template-areas: "box-19 box-19 . ." "box-20 box-20 . ." "box-21 box-21 . ."; }
  .container-footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15.0rem auto 5.0rem;
    grid-template-areas: "info info info" ". rrss ." "copyright copyright copyright"; }
    .container-footer .info {
      display: flex;
      flex-direction: column;
      justify-content: center; } }

@media (max-width: 1023px) {
  .container-left {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "box-5 box-5" "box-7 box-7" "box-6 box-6";
    padding: 2.0rem; }
    .container-left .box-7 {
      display: flex;
      justify-content: center; }
    .container-left img {
      width: 90%; }
  .container-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "box-9 box-9" "box-8 box-8" "box-10 box-10";
    padding: 2.0rem; }
    .container-right .box-8 {
      display: flex;
      justify-content: center; }
    .container-right .box-10 {
      padding: 2.0rem; }
    .container-right img {
      width: 90%; }
  .container-contact {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "box-11 box-11" "box-12 box-12";
    padding: 2.0rem; }
  .container-menu {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 6.0rem 25.0rem 15.0rem;
    grid-template-areas: "box-19 box-19 . ." "box-20 box-20 . ." "box-21 box-21 . ."; }
  .container-footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15.0rem auto 5.0rem;
    grid-template-areas: "info info info" ". rrss ." "copyright copyright copyright"; }
    .container-footer .info {
      display: flex;
      flex-direction: column;
      justify-content: center; } }

@media (max-width: 1024px) {
  .container-left {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "box-5 box-5" "box-7 box-7" "box-6 ."; }
    .container-left .box-6 {
      display: flex;
      align-items: center; }
  .container-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "box-9 box-9" "box-8 box-8" "box-10 ."; }
    .container-right .box-10 {
      display: flex;
      align-items: center; }
  .container-contact {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "box-11 box-11" "box-12 box-12";
    justify-content: center; }
  .container-menu {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 6.0rem 25.0rem 15.0rem;
    grid-template-areas: "box-19 box-19 . ." "box-20 box-20 . ." "box-21 box-21 . ."; }
  .container-footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15.0rem auto 5.0rem;
    grid-template-areas: "info info info" ". rrss ." "copyright copyright copyright"; }
    .container-footer .info {
      display: flex;
      flex-direction: column;
      justify-content: center; } }

@media (max-width: 1200px) {
  .container-left {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "box-5 box-5" "box-7 box-7" "box-6 ."; }
    .container-left .box-6 {
      display: flex;
      align-items: center; }
  .container-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "box-9 box-9" "box-8 box-8" "box-10 ."; }
    .container-right .box-10 {
      display: flex;
      align-items: center; }
  .container-contact {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "box-11 box-11" "box-12 box-12";
    justify-content: center; }
  .container-menu {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 6.0rem 25.0rem 15.0rem;
    grid-template-areas: "box-19 box-19 . ." "box-20 box-20 . ." "box-21 box-21 . ."; }
  .container-footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15.0rem auto 5.0rem;
    grid-template-areas: "info info info" ". rrss ." "copyright copyright copyright"; }
    .container-footer .info {
      display: flex;
      flex-direction: column;
      justify-content: center; } }

@media (max-width: 320px) {
  .container-left {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "box-5" "box-7" "box-6";
    margin: 5.0rem; } }

@media (max-width: 480px) and (min-width: 320px) {
  .container-left {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "box-5" "box-7" "box-6";
    margin: 5.0rem; } }

@media (max-width: 576px) and (min-width: 480px) {
  header p {
    font-size: 1.6rem; }
  header .container-left {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "box-5" "box-7" "box-6"; }
  header .container-right {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "box-9" "box-8" "box-10"; }
  header .container-contact {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "box-11" "box-12"; }
  header .container-menu {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "box-19" "box-20" "box-21"; }
  header .container-footer {
    grid-template-columns: 1fr;
    grid-template-rows: 15.0rem auto 5.0rem;
    grid-template-areas: "info" "rrss" "copyright"; } }
