@media (max-width: 320px){
    .container-left {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "box-5"
            "box-7"
            "box-6"
        ;
        margin: 5.0rem;
    }
}
@media (max-width: 480px) and (min-width: 320px){
    .container-left {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "box-5"
            "box-7"
            "box-6"
        ;
        margin: 5.0rem;
    }
}
@media (max-width: 576px) and (min-width: 480px){
    header{
        p{
            font-size: 1.6rem;
        }
    .container-left {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "box-5"
            "box-7"
            "box-6"
        ;
    }
    .container-right {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "box-9"
            "box-8"
            "box-10"
        ;
    }
    .container-contact {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "box-11"
            "box-12"
        ;
    }
    .container-menu {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "box-19"
            "box-20"
            "box-21"
        ;
    }
    .container-footer {
        grid-template-columns: 1fr;
        grid-template-rows: 15.0rem auto 5.0rem;
        grid-template-areas:
            "info"
            "rrss"
            "copyright"
        ;
    }
}
}