h1 {
    color: #E79A33;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    font-size: 3.2rem;
}

h2 {
    color: #E79A33;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    line-height: 1.6;
    font-size: 2.8rem;
}

h3 {
    color: #E79A33;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    font-size: 2.4rem;
}

h4 {
    color: #603F34;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    line-height: 1.6;
    font-size: 2.0rem;
}

h5 {
    color: #603F34;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    line-height: 1.6;
    font-size: 1.8rem;
}

h6 {
    color: #603F34;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    line-height: 1.6;
    font-size: 1.6rem;
}

p {
    margin-top: 1.6rem;
    margin-right: 2rem;
    color: #E5DCCA;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 1.6;
    font-size: 1.6rem;
}